<h2>Por capital</h2>
<hr>
<div class="row">
  <div class="col">
   <!-- <shared-search-box (onValue)="searchByRegion($event)"   placeholder="Búsqueda por región" ></shared-search-box> -->
  <button *ngFor="let region of regions" class="btn mx-2"
  [ngClass]="{ 'btn-outline-primary': selectedRegion === region }"
   (click)="searchByRegion(region)">
    {{region}}
  </button>

  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
    <countries-table [countries]="countries"></countries-table>
  </div>
</div>

